[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
mltk = "*"
nltk = "*"
django-heroku = "*"
numpy = "*"
gunicorn = "*"
django-pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
